@charset "UTF-8";
body {
  overflow: hidden;
  min-width: 1024px;
  position: relative; }

html, body {
  height: 100%; }

a {
  color: #333333;
  text-decoration: none !important;
  cursor: pointer; }

.form-control-static {
  display: block; }

#leftContainer {
  position: absolute;
  width: 66px;
  left: 0;
  top: 0;
  padding: 0 2px; }
  #leftContainer > .btn {
    display: block; }

.toolbar > li {
  text-align: center;
  border: 1px solid #999999;
  display: block;
  margin-bottom: -1px;
  font-size: 12px;
  line-height: 25px; }
.toolbar a {
  display: block;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 5px;
  padding-top: 35px; }
.toolbar a:hover {
  background-color: #666666;
  color: #ffffff; }
.toolbar [data-tool="LINE"] {
  background-image: url("../../images/projects/line.png"); }
  .toolbar [data-tool="LINE"]:hover {
    background-image: url("../../images/projects/line_hover.png"); }
.toolbar [data-tool="SERVICE"] {
  background-image: url("../../images/projects/service.png"); }
  .toolbar [data-tool="SERVICE"]:hover {
    background-image: url("../../images/projects/service_hover.png"); }
.toolbar [data-tool="FLOW"] {
  background-image: url("../../images/projects/flow.png"); }
  .toolbar [data-tool="FLOW"]:hover {
    background-image: url("../../images/projects/flow_hover.png"); }
.toolbar [data-tool="DECISION"] {
  background-image: url("../../images/projects/decision.png"); }
  .toolbar [data-tool="DECISION"]:hover {
    background-image: url("../../images/projects/decision_hover.png"); }
.toolbar [data-tool="TRANSACTION_BEGIN"] {
  background-image: url("../../images/projects/transactionBegin.png"); }
  .toolbar [data-tool="TRANSACTION_BEGIN"]:hover {
    background-image: url("../../images/projects/transactionBegin_hover.png"); }
.toolbar [data-tool="TRANSACTION_COMMIT"] {
  background-image: url("../../images/projects/transactionCommit.png"); }
  .toolbar [data-tool="TRANSACTION_COMMIT"]:hover {
    background-image: url("../../images/projects/transactionCommit_hover.png"); }

.svg-container {
  border: 1px solid #000000;
  position: absolute;
  left: 66px;
  top: 0;
  right: 352px;
  bottom: 0;
  overflow: auto; }

svg {
  overflow: hidden; }
  svg.normal rect, svg.normal circle, svg.normal text, svg.normal polyline {
    cursor: pointer; }
  svg.line rect {
    cursor: crosshair; }
  svg.service {
    cursor: url("../images/service.png"), default; }
  svg.decision {
    cursor: url("../images/decision.png"), default; }

.detect-div {
  position: absolute;
  visibility: hidden;
  line-height: 20px;
  font-size: 12px;
  z-index: -1; }

#info {
  background: #F9F9F9;
  z-index: 101;
  position: absolute;
  width: 350px;
  right: 0;
  top: 0;
  height: 100%;
  border: 1px solid #CECECE;
  overflow: hidden; }
  #info .form-group, #info .row {
    margin-left: -7px;
    margin-right: -7px; }
  #info .col-xs-1, #info .col-xs-2, #info .col-xs-3, #info .col-xs-4, #info .col-xs-5, #info .col-xs-6, #info .col-xs-7, #info .col-xs-8, #info .col-xs-9, #info .col-xs-10, #info .col-xs-11, #info .col-xs-12 {
    padding-left: 7px;
    padding-right: 7px; }
  #info .form-child-list {
    margin-bottom: 5px; }
    #info .form-child-list > li {
      padding: 7px 0;
      border-bottom: 1px solid #E0E0E0;
      font-size: 12px; }
      #info .form-child-list > li > h4 {
        height: 1em;
        margin: 0 0 6px; }
      #info .form-child-list > li:first-child {
        border-top: 1px solid #E0E0E0; }
  #info input.blank {
    border: none;
    outline: none;
    width: 100%;
    padding: 7px 0;
    background: none; }
  #info .table {
    table-layout: fixed; }
    #info .table td {
      vertical-align: middle; }
    #info .table .btn {
      outline: none; }
    #info .table .glyphicon-plus-sign {
      color: #449d44; }
    #info .table .glyphicon-minus-sign {
      color: #f0ad4e; }
  #info #infoResizer {
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    top: 0;
    z-index: 102;
    cursor: col-resize; }
  #info #infoForms {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    word-break: break-all;
    font-size: 13px;
    position: absolute;
    box-sizing: border-box;
    width: 348px;
    right: 0;
    top: 0;
    height: 100%; }

#serviceModal table {
  table-layout: fixed; }
#serviceModal tr.type1 {
  cursor: pointer; }
  #serviceModal tr.type1 .glyphicon:before {
    content: "\e117"; }
  #serviceModal tr.type1.opened .glyphicon:before {
    content: "\e118"; }
#serviceModal tr.type2 {
  cursor: pointer; }
  #serviceModal tr.type2 .glyphicon:before {
    content: "\e250"; }
  #serviceModal tr.type2.opened .glyphicon:before {
    content: "\e252"; }
#serviceModal tr.type3 {
  cursor: pointer; }
  #serviceModal tr.type3:hover {
    background: #a0c5e8; }
#serviceModal tr.level1 > td:first-child {
  padding-left: 20px; }
#serviceModal tr.level2 > td:first-child {
  padding-left: 40px; }
#serviceModal .glyphicon {
  margin-right: 5px; }
#serviceModal td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

#serviceForm .serviceClass {
  color: #1D82F5; }
#serviceForm .entity-show {
  color: green; }

#lineForm h5 {
  word-break: break-all;
  padding: 0;
  margin: 0 0 5px; }
#lineForm > .toBoxCase .top {
  background: #A0A0A0;
  color: #F1F1F1;
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  padding: 7px 0; }
#lineForm > .toBoxCase input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  padding: 7px 0; }
#lineForm > .toBoxCase .row {
  margin-bottom: 5px;
  margin-top: 5px; }
#lineForm > .toBoxCase .toggle-entity {
  font-size: 16px;
  color: #85CAC5; }

.rule-select {
  display: block;
  border: 1px solid #B3B2B2;
  border-radius: 3px;
  line-height: 1.42857;
  color: #717171;
  background: rgba(144, 157, 179, 0.16);
  padding: 7px 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#ruleSelectList {
  display: none;
  z-index: 150;
  position: absolute;
  font-size: 12px;
  top: 0;
  height: 100%; }
  #ruleSelectList a {
    display: block;
    color: #333333;
    padding: 0 5px;
    cursor: pointer; }
    #ruleSelectList a:hover {
      background: #F1F7FF; }
    #ruleSelectList a.active {
      color: #000000;
      font-weight: bold; }
    #ruleSelectList a.selected {
      background: #c6dfff; }
  #ruleSelectList .parent-class {
    color: #016F01;
    font-weight: bold; }
  #ruleSelectList > .cmp-list {
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto;
    right: 0;
    position: absolute;
    width: 12em;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0; }
  #ruleSelectList > .return-list {
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    width: 8em;
    right: 12em;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 -1px 0; }

#fromDecisionInfo select {
  width: 80px;
  font-size: 12px; }
#fromDecisionInfo .field {
  margin-left: 85px; }
#fromDecisionInfo .expression {
  float: left; }

#nodeExpression a {
  cursor: auto;
  color: green; }

#selectedRoles {
  margin: 7px 0;
  display: inline-block; }

.control-normal {
  margin-bottom: 0;
  margin-top: 7px; }

#cmpContextMenu {
  position: absolute;
  display: none;
  border: 1px solid #B7B7B7;
  box-shadow: 0 0 10px 1px #E8E8E8;
  width: 100px;
  z-index: 100;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden; }
  #cmpContextMenu > a {
    display: block;
    text-align: center;
    border-bottom: 1px solid #D4D4D4;
    border-top: 1px solid #d4d4d4;
    margin: -1px 0;
    background: #F9F9F9;
    padding: 5px 0;
    color: #616161; }
    #cmpContextMenu > a > span {
      width: 18px;
      text-align: left; }
    #cmpContextMenu > a:hover {
      color: #ffffff;
      background: #666666; }

#flowTestModal .close {
  position: absolute;
  right: 15px;
  z-index: 1; }
#flowTestModal .output {
  word-break: break-all; }

#flowModal tbody > tr:hover {
  cursor: pointer;
  background: #eeeeee; }

#propertySelectList .glyphicon:before {
  content: "\e250"; }
#propertySelectList .parent.opened > .glyphicon:before {
  content: "\e252"; }
#propertySelectList .parent.opened + ul {
  display: block; }
#propertySelectList .parent + ul {
  display: none;
  padding-left: 20px; }

/*****************************补充*****************************/

/*# sourceMappingURL=flowPanel.css.map */
