header>h1{
  color: #333333;
  text-align: center;
  font-size: 30px;
  padding: 8px 0;
  line-height: 40px;
}

article>.desc{
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
}

b{
  font-weight: bold;
}