h1{
  color: #333333;
  text-align: center;
  font-size: 30px;
  padding: 15px 0;
}

.artifact{
  width: 1000px;
  margin: 0 auto;
}

.artifact{
  >h3{
    color: #333333;
    font-size: 24px;
    line-height: 1.8rem;
  }
}

.artifact-list{
  >li{
    line-height: 1.5rem;
  }
}